= render 'shared/error_messages', object: f.object
.hidden
  = f.hidden_field :uid 
  = f.hidden_field :provider
.field_pair
  .field
    = f.label :name, "Name (it doesn't have to be unique, but it helps)"
    %br/
    = f.text_field :name 
  .field
    = f.label :email,                                           |
      ('Email (only '+link_to('officers', officers_users_path)+ |
      ' can see this)').html_safe                               |
    %br/
    = f.text_field :email
.field
  = f.label :description, "Write whatever you want to share about yourself"
  = f.text_area :description 
.field
  %span.instructions Do you want to let the general yell at you?
  %br/
  = radio_button(:user, "theme", "general")
  = label :user_theme, :general, "Let the general yell at me"
  %br/
  = radio_button(:user, "theme", "generic")
  = label :user_theme, :generic, "I prefer more civil messages"
  

