%h1= "Edit #{@user.name}'s dossier."

= form_for(@user) do |f| 
  = render 'fields', :f => f
  .actions
    = f.submit "Edit"
 
%h3 Cancel my account
%p
  Unhappy? #{link_to "Receive an honorable discharge", @user , :confirm => "Are you sure?", :method => :delete}.
= link_to "Back", :back
