- content_for :title do
  %title= "Editing #{@user.name}'s dossier."
  
%h1= "Edit #{@user.name}'s dossier"

= form_for(@user) do |f| 
  = render 'fields', :f => f
  .actions
    = f.submit "Save changes"
 
%h3 Cancel my account
%p
  Unhappy?
  %br/
  = button_to('Honorable Discharge', {id: @user.id, action: :destroy},
    confirm: current_theme('users', 'cancel_account'), method: :delete)
%br/
= link_to "Back", :back
