- content_for :title do
  %title= @user.name + "'s dossier"
%p#notice= notice 
%p
  %b Name:
  = @user.name
- if current_user == @user
  %p
    %b Email:
    = @user.email
  = link_to 'Edit', edit_user_path(@user)

%b Rank:
= image_tag rank_title(@user)+'.png', title: rank_title(@user)

= display_format @user.description

- if current_user
  %h2 RSVPs
  - [ {title: 'Orchestrating', method: :hosting},
      {title: 'Participating in', method: :attending},
      {title: 'Considering', method: :maybes} ].each do |locals|
    = render 'rsvp', locals

= link_to 'Back', users_path
