- content_for :title do
  %title= @user.name + "'s dossier"

.sidebar 
  %dl
    %dt Name:
    %dd= @user.name
    - if current_user == @user
      %dt Email:
      %dd= @user.email
    %dt Rank:
    %dd= image_tag rank_title(@user)+'.png', title: rank_title(@user),
      class: 'rank'

= render 'shared/heading', title: @user.name, edit_text: 'Edit your profile',
  allow_edit: (@user == current_user), object: @user

= display_format @user.description
  
- if current_user
  %h2 RSVPs
  - [ {title: 'Orchestrating', method: :hosting},
      {title: 'Participating in', method: :attending},
      {title: 'Considering', method: :maybes} ].each do |locals|
    = render 'rsvp', locals

