- content_for :title do
  %title= @user.name + "'s dossier"

= render 'shared/heading', title: @user.name, edit_text: 'Edit your profile',
  allow_edit: (@user == current_user), object: @user
  
.sidebar 
  %dl
    %dt Name:
    %dd= @user.name
    - if current_user == @user
      %dt Email:
      %dd= @user.email
    %dt Rank:
    %dd= image_tag rank_title(@user)+'.png', title: rank_title(@user),
      class: 'rank'
  - if current_user && current_user != @user
    - if current_user.tracking? @user
      = button_to 'Untrack', user_trail_path(@user), method: :delete
    - else
      = button_to 'Track', user_trails_path(@user)

#description= display_format @user.description

= render "track", kind: :trackers, title: 'Tracked by'
= render "track", kind: :targets, title: 'Tracking'

- if current_user
  %h2 RSVPs
  - [ {title: 'Orchestrating', method: :hosting},
      {title: 'Participating in', method: :attending},
      {title: 'Considering', method: :maybes} ].each do |locals|
    = render 'rsvp', locals

