= form_for(@event) do |f|
  = render 'shared/error_messages', object: @event 
  
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :date
    %br
    = f.date_select :date, start_year: Time.now.year
  .field
    = f.label :time
    %br
    = f.text_field :time
  .field
    = f.label :price
    %br
    = f.text_field :price
  .field
    = f.label :venue
    %br
    = f.select :venue_id, venue_options
  .field
    = f.label :address
    %br
    = f.text_field :address
  .field
    = f.label :city
    %br
    = f.text_field :city
  .field
    = f.label :description
    %br
    = f.text_area :description

  %ul.links
    %h3 Event links
    %span.instructions
      Put links for this event. If you need to buy tickets, add a link to 
      a web page to purchase tickets. For a concert, link to songs
      or videos by the artist.
    - @event.links.each do |link|
      = f.fields_for :links, link do |linkf|
        %li
          .field
            = linkf.label :url
            %br/
            = linkf.text_field :url
          .field
            = linkf.label :text
            %br/
            = linkf.text_field :text, class: 'link_text'
          - unless link.new_record?
            - url = {action: :destroy, controller: :links, event_id: @event,
                      id: link}
            = link_to 'Remove link', url, method: :delete 

  .actions
    = f.submit
