= form_for(@event) do |f|
  = render 'shared/error_messages', object: @event 
  
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :date
    %br
    = f.date_select :date, start_year: Time.now.year
  .field
    = f.label :time
    %br
    = f.text_field :time
  .field
    = f.label :price
    %br
    = f.text_field :price
  .field
    = f.label :venue
    %br
    = f.select :venue_id, venue_options
  .field
    = f.label :address
    %br
    = f.text_field :address
  .field
    = f.label :city
    %br
    = f.text_field :city
  .field
    = f.label :description
    %br
    = f.text_area :description

  .actions
    = f.submit
