- content_for :title do
  %title Revising #{@event.name}
%h1.title Revise #{@event.name}
.edit
  = link_to 'Remove this event', {id: @event.id, action: :destroy},
      method: :delete, confirm: 'Really discard event info?'

= render 'form'

%br/
= link_to "Back", :back
