%h1 Events Listing
%p= link_to 'Post a new event', new_event_path

%table
  %thead
    %tr
      %th= Event.human_attribute_name :date
      %th= Event.human_attribute_name :name
      %th= Event.human_attribute_name :price
      %th= Event.human_attribute_name :address
      %th Venue
      %th= Event.human_attribute_name :description
  
  %tbody
    - for event in @events
      %tr{ :class => cycle(:odd, :even) }
        %td= event.date
        %td= link_to event.name, event
        %td= event.price
        %td
          = event.address
          %br/
          = event.city
        %td
          - if event.venue
            = link_to event.venue.name, event.venue
          - else
            None
        %td= truncate strip_tags(event.description), length: 50
