- content_for :title do
  %title Event listings

%h1 Events Listing
%p= link_to 'Post a new event', new_event_path

%table.events_table
  %tbody
    - for event in @events
      %tr.entry_head{ :class => cycle(:odd, :even) }
        %td.date= event_date event
        %td.name(colspan=4)= link_to event.name, event
      %tr
        %td
        %td.label
          %b Price:
        %td.price
          = event.price
        %td.label
          %b Location:
        %td.location
          - if event.venue
            = link_to event.venue.name, event.venue
            %br/
          = event.address
          %br/
          = event.city
      %tr
        %td
        %td.description(colspan=4)
          = truncate strip_tags(event.description), length: 160
