%h1= t('.title')
%p= link_to t('.new_event'), new_event_path

%table
  %thead
    %tr
      %th= Event.human_attribute_name :name
      %th= Event.human_attribute_name :date
      %th= Event.human_attribute_name :time
      %th= Event.human_attribute_name :price
      %th= Event.human_attribute_name :venue
      %th= Event.human_attribute_name :address
      %th= Event.human_attribute_name :city
      %th= Event.human_attribute_name :description
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for event in @events
      %tr{ :class => cycle(:odd, :even) }
        %td= event.name
        %td= event.date
        %td= event.time
        %td= event.price
        %td= event.venue
        %td= event.address
        %td= event.city
        %td= event.description
        %td.action= link_to t('show'), event
        %td.action= link_to t('edit'), edit_event_path(event)
        %td.action= link_to t('destroy'), event, :confirm => t('are_you_sure'), :method => :delete
