%h1 Events Listing
%p= link_to 'Post a new event', new_event_path

%table
  %thead
    %tr
      %th= Event.human_attribute_name :name
      %th= Event.human_attribute_name :date
      %th= Event.human_attribute_name :time
      %th= Event.human_attribute_name :price
      %th= Event.human_attribute_name :venue
      %th= Event.human_attribute_name :address
      %th= Event.human_attribute_name :city
      %th= Event.human_attribute_name :description
      %th= 'actions'
  
  %tbody
    - for event in @events
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to event.name, event
        %td= event.date
        %td= event.time
        %td= event.price
        %td= event.venue
        %td= event.address
        %td= event.city
        %td= truncate strip_tags(event.description), length: 50
        %td.action= link_to 'edit', edit_event_path(event)
