- content_for :title do
  %title= "Mission intel: #{@event.name}"

.sidebar
  - unless @event.venue.nil?
    %dt Venue:
    %dd= link_to @event.venue.name, @event.venue
  %dt Address:
  %dd
    = @event.address
    %br/
    = @event.city
  %dt Links:
  %dd
    %ul
      - @event.links.each do |link|
        %li.event_link= link_to link.text, link.url
        
= render 'shared/heading', object: @event, title: @event.name,
  edit_text: "Edit this event", allow_edit: current_user&&can_alter?(@event)


%h3= @event.date.strftime('%A %B %d, %Y')
%dl
  - unless @event.time.blank?
    %dt Operations begin:
    %dd= @event.time
  %dt Price:
  %dd= @event.price || 'No price information.' 
  %dt Detail:
  %dd= display_format @event.description

- if current_user
  %h2 RSVPs
  - [ {title: 'Mastermind', method: :hosts},
      {title: 'Operative', method: :attendees},
      {title: 'Prospective', method: :maybes} ].each do |locals|
    = render 'rsvp', locals


  %h2 What about you?
  - attendance = current_user.attendance(@event)
  - unless attendance == 'host'
    = button_to "I'm hosting/organizing", event_hosts_path(@event)
  - unless attendance == 'attend'
    = button_to "I'm going", event_attendees_path(@event)
  - unless attendance == 'maybe'
    = button_to "Maybe...", event_maybes_path(@event)
  - if attendance
    = button_to "I won't be there", event_rsvp_path(@event), method: :delete
