- content_for :js do
  = javascript_include_tag 'github' 
%h1 The people behind the General

%img.right.thumb(src='/images/adamc.jpeg')
%p
  The Weekend General was conceived of and executed by Adam Charles Baker. He
  made this hoping to learn something about Rails, web programming in general,
  and test driven development. He has succeeded in that. He also made it hoping
  his friends would find it useful. Only time will tell.

%h3 Contact:
%br/
= mail_to 'adam.durandal@gmail.com'
%br/
= link_to 'https://github.com/adambaker'
%br/
= link_to 'http://home.uchicago.edu/~adamc/'
(kind of embarassingly bad)
%br/
= link_to 'http://song-a-day.blogspot.com/'

#github_info
