- content_for :title do
  %title Search results
#main_search_form
  = form_tag search_path, method: 'get' do
    .form_row
      = text_field_tag :search, params[:search]
      %span.instructions Include:
      - tags = {event: 'Events ', user: 'Users ', venue: 'Venues'}
      = render "search_check_boxes", tags: tags
    .form_row
      %span.instructions Filter events by date:
      %br/
      - tags = {future: 'the future ', today: 'just today ',
          week: 'just this week ', past: 'the past'}
      = render "search_radio_buttons", name: :when, tags: tags
    .form_row
      %span.instructions Filter events by price:
      %br/
      - tags = {any: 'any price ', free: 'free ', less: 'less than $'}
      = render 'search_radio_buttons', name: :price, tags: tags
      = text_field_tag :price_text, params[:price_text]
    .form_row
      %span.instructions 
        Order events by (<i>ordering by price filters out results with no price
        info</i>):
      %br/
      - tags = {date: 'date', price: 'price', created: 'recently added', 
        updated: 'recently updated'}
      = render 'search_radio_buttons', name: :order, tags: tags
    .form_row
      = submit_tag :search

- if @events.any?
  %h2= pluralize(@events.size, 'Event')
  = render "events/all_events"
- if @users.any?
  %h2= pluralize(@users.size, 'User')
  = render "users/all_users"
- if @venues.any?
  %h2= pluralize(@venues.size, 'Venue')
  = render "venues/all_venues"
