- content_for :title do
  %title Revise venue intel
%h1= "Edit #{@venue.name}"

= render 'form'

%p
  %br/
  = button_to('Remove Venue', {id: @venue.id, action: :destroy},
    confirm: 'Really discard this venue?', method: :delete)
%br/
= link_to "Back", :back
