- content_for :title do
  %title Revise venue intel
%h1.title= "Revise #{@venue.name}"
.edit
  = link_to 'Remove this venue', {id: @venue.id, action: :destroy},
      method: :delete, confirm: 'Really discard this venue?'

= render 'form'

%br/
= link_to "Back", :back
