- content_for :title do
  %title Venues

%h1 Venues
%p= link_to 'Add a new venue', new_venue_path

%table
  %thead
    %tr
      %th.name= Venue.human_attribute_name :name
      %th.address= Venue.human_attribute_name :address
      %th.description= Venue.human_attribute_name :description
      %th.link Website Link

  %tbody
    - for venue in @venues
      %tr{ :class => cycle(:odd, :even) }
        %td.name= link_to venue.name, venue
        %td.address
          = venue.address
          %br/
          = venue.city
        %td.description= truncate strip_tags(venue.description), length: 50
        - unless venue.url.blank?
          %td.link= link_to venue.url, venue.url

