- content_for :title do
  %title= @venue.name

= render('shared/heading', title: link_to(@venue.name, @venue.url), 
  object: @venue, edit_text: "Edit this venue", 
  allow_edit: (current_user&&can_alter?(@venue)))
  
.sidebar
  %dl
    %dt Address:
    %dd
      = @venue.address
      %br/
      = @venue.city
    - unless @venue.url.blank?
      %dt Website:
      %dd= link_to @venue.name, @venue.url

%h3 Venue intel:
= display_format(@venue.description)

-if @venue.events.any?
  %h2 Missions in this theater:
  %table#events
    - @venue.events.each do |event|
      %tr
        %td.date= event_date event
        %td.name= link_to event.name, event
        %td.price= event.price
      %tr
        %td
        %td.description{colspan: 2}
          = truncate strip_tags(event.description), length: 200
    
