- content_for :title do
  %title= @venue.name

.sidebar
  %dl
    %dt Address:
    %dd
      = @venue.address
      %br/
      = @venue.city
    - unless @venue.url.blank?
      %dt Website:
      %dd= link_to @venue.url, @venue.url

= render 'shared/heading', title: link_to(@venue.name, @venue.url), 
  object: @venue, edit_text: "Edit this venue", allow_edit: true

%h3 Venue intel:
= display_format(@venue.description)

