!!! 5
%html
  %head
    = yield :title
    = stylesheet_link_tag 'site_style'
    = stylesheet_link_tag theme['name']
    = javascript_include_tag :defaults 
    = csrf_meta_tag 

  %body

    #container 
      -if flash.any?
        .flash
          = include_flash_images
          -flash.each do |key, value| 
            = content_tag(:div, value, :class => key.to_s)
      #header
        #session_links
          -if current_user 
            Signed in as
            = link_to current_user.name , current_user
            %br/
            = link_to "Sign out", sign_out_path
          -else
            = link_to "Sign in with Google", '/auth/google'
        #navi
          %ul
            %li= link_to 'Home', root_path
            %li= link_to 'Venues', venues_path
            %li= link_to 'People', users_path
            %li= link_to 'Events', events_path
      #content
        
        = yield
      #footer
        %ul
          %li= link_to 'What the hell is this?', '/about'
          %li= link_to "I don't know what to do", '/help'
        %ul
          %li= link_to "Can the General do...?", '#'
          %li= link_to "Upcoming features", '/roadmap' 
        %ul
          %li= link_to "Contact an officer", '/users/officers'
          %li= link_to "Who made this?", '#'
          
      %p= debug(params) if Rails.env.development?
